.aboutSection {
  padding: 50px 75px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.aboutSection > h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;
}
.aboutSubSection > h2 {
  font-size: 28px;
  border-bottom: 1px solid #000;
  margin-top: 75px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.aboutSubSection.left {
  padding-right: 250px;
}
.aboutSubSection.right > h2 {
  text-align: end;
}
.aboutSubSection.right {
  padding-left: 250px;
}
.aboutSubSection > p {
  font-size: 18px;
  text-align: justify;
}
.whyUs {
  margin-top: 100px;
  text-align: center;
}
.whyUs > p {
  text-transform: uppercase;
  color: #7b7b7b;
  font-weight: bold;
}
.whyUs > h1 {
  text-transform: uppercase;
}
.whyUsCards {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.whyUsCard > img {
  width: 75px;
  margin: 20px 0px;
}
.whyUsCard > h2 {
  text-transform: uppercase;
}
@media screen and (max-width: 1280px) {
  .aboutSubSection.left {
    padding-right: 50px;
  }
  .aboutSubSection.right {
    padding-left: 50px;
  }
}
@media screen and (max-width: 740px) {
  .aboutSubSection.left {
    padding-right: 20px;
  }
  .aboutSubSection.right {
    padding-left: 20px;
  }
  .whyUsCards {
    gap: 20px;
    flex-wrap: wrap;
  }
  .whyUsCard > img {
    width: 50px;
  }
  .whyUsCard > h2 {
    font-size: 24px;
  }
}
