.contactSection > h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}

.contactDetails {
  margin: 50px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.contactLeft > h2 {
  margin-top: 20px;
  text-transform: uppercase;
}
.contactLeft > p {
  font-size: 18px;
}
.socialMedia {
  cursor: pointer;
  display: flex;
  gap: 10px;
  font-size: 24px;
  margin-top: 20px;
  align-items: center;
}
.contactBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.contactBox > h1 {
  margin: 30px;
  text-transform: uppercase;
}
.contactBox > input {
  height: 30px;
}
.contactBox > input,
textarea {
  width: 500px;
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 10px;
}
.contactBox > button {
  cursor: pointer;
  width: 520px;
  height: 50px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #717171;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-bottom: 100px;
}

@media screen and (max-width: 740px) {
  .contactDetails {
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
  }
  .contactBox > input,
  textarea {
    width: 90%;
  }
  .contactBox > button {
    width: 94%;
  }
}
