.focusSection {
  display: flex;
  align-items: center;
}
.focusSectionLeft {
  text-align: center;
  width: 40vw;
}
.focusSectionLeft > h2 {
  text-transform: uppercase;
  color: #ff4522;
}
.focusSectionLeft > p {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
}

.focusSectionRight {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.focusSectionRight .card {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.focusSectionRight .cardLogo {
  font-size: 75px;
  color: #ff4522;
}
.focusSectionRight .card > p {
  font-size: 26px;
  text-align: center;
}
.focusSectionRight .card a {
  color: #fff;
  text-decoration: none;
  background-color: #ff4522;
}
.focusSectionRight .card:last-child {
  background-color: #ff4522;
}
