.stickyWrapper {
  position: sticky;
  top: 7vh;
  width: 100%;
  overflow: hidden;
}
.elementWrapper {
  position: relative;
  display: flex;
}
.element {
  height: 93vh;
  width: 100vw;
  margin: 0 20px 0 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10em;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
