.expertSection {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expertSection .title {
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #000;
}
.expertSection .expertCards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.expertSection .expertCard {
  height: 300px;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.expertSection .expertCard .expertCardLogo {
  font-size: 50px;
}
.expertSection .expertCard > p {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
