.followSection {
  margin-top: 100px;
  text-align: center;
}
.followSection > h2 {
  color: #00bfa6;
  text-transform: uppercase;
}
.followSection > p {
  color: #000;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.followSectionTwo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.followSectionLeft {
  display: flex;
  padding: 100px;
}
.followSectionLeft > img {
  width: 30vw;
}
.followSectionRight {
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.followCard {
  padding: 50px 0px;
}
.followCard > svg {
  font-size: 50px;
  margin-bottom: 25px;
}
.followCard > p {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 1280px) {
  .followSectionTwo {
    grid-template-columns: 1fr;
  }
  .followSectionLeft {
    display: none;
  }
  .followSectionRight {
    width: 700px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .followCard {
    width: 200px;
  }
}
@media screen and (max-width: 740px) {
  .followSection > h2 {
    font-size: 18px;
  }
  .followSection > p {
    font-size: 30px;
  }
  .followSectionRight {
    width: 85%;
  }
  .followCard {
    width: 150px;
  }
  .followCard > p {
    font-size: 18px;
  }
}
