@import "_colors";

nav {
  background-color: $color10Light;
  position: sticky;
  height: fit-content;
  top: 0;
  .navContainer {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      margin-left: 1rem;
      padding: 0.5rem 0.5rem;
      border-radius: 0.5rem;
      a {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 800;
        color: $color10;
      }
    }
    .menuButton {
      display: none;
    }
    .navLinks {
      ul {
        margin-right: 2rem;
        display: flex;
        gap: 2rem;
        list-style: none;
        li {
          a {
            font-size: 1.1rem;
            text-decoration: none;
            margin: 0;
            padding: 0;
          }
          :hover {
            border-bottom: 0.0625rem solid $color10;
            transition: 0.3s;
          }
        }
      }
    }
  }
}
