@import "./css/colors";

html {
  scroll-behavior: smooth;
}

body {
  background: $color60;
  color: $fontColor;
  font-family: "Nunito Sans";
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
p {
  font-size: 1.1rem;
}

body,
h1,
h2,
h3,
p,
figure {
  margin: 0;
  padding: 0;
}

.container90rem {
  max-width: 88rem;
  padding: 0 1rem;
  margin: auto;
}
.bred {
  border: 1px solid red;
}

//Hiding ScrollBar
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#home {
  padding: 7rem 0rem;
}
#about,
#services,
#extra,
#team,
#portfolio,
#contact,
#footer {
  padding: 5rem 0rem;
}

//global style

//Two Section
.twoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  .partStyleOne {
    width: 45%;
    display: flex;
    flex-direction: column;
    img {
      max-width: 50%;
      max-height: 50%;
    }
  }
  .partStyleTwo {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

//Card Style
.cardStyleColumn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  .card {
    width: 14rem;
    background-color: $color60;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem 2rem;
    border-radius: 1.5rem 0rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    .cardText {
      text-align: center;
      margin-top: 2rem;
      h3 {
        font-family: "roboto";
      }
      p {
        font-size: 1rem;
        text-align: justify;
        text-align-last: center;
      }
      .linkLearnMore {
        margin-top: 2.5rem;
        a {
          font-size: 1.1rem;
          font-family: "roboto";
          text-decoration: none;
          font-weight: 500;
        }
        a:hover {
          color: $color10;
        }
      }
    }
    img {
      margin-top: -2rem;
      width: 6rem;
    }
  }
}
.cardStyleColumnTwo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .card {
    min-width: 15rem;
    border-radius: 1rem;
    background-color: $color30;
    margin: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 2rem;
      height: 100%;
    }
    .cardText {
      p {
        margin: 0.25rem 0;
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }
}
.cardStyleRow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .card {
    border-radius: 1rem;
    background-color: $color30;
    margin: 1rem;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    display: flex;
    align-items: center;
    gap: 2rem;
    img {
      width: 3rem;
      height: 100%;
    }
    .cardText {
      p {
        margin: 0.25rem 0;
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #home {
    padding: 5rem 0rem;
  }
  .twoSection {
    .partStyleOne {
      width: 90%;
    }
  }
  .partStyleTwo {
    width: 90%;
  }
  .cardStyleRow {
    .card {
      border-radius: 1rem;
      background-color: $color30;
      margin: 1rem;
      padding: 2rem 1rem;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: justify;
      gap: 2rem;
      h3 {
        text-align: center;
      }
    }
  }
}
